<!DOCTYPE html>
<html lang="en" ng-app="app" ng-controller="AppCtrl as app">
    <head>
        <meta charset=utf-8>
        <title>{{app.info.title}}</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">        
        <link rel="stylesheet" href="default.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css" />

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
        <script src="https://code.angularjs.org/1.3.12/angular-animate.min.js"></script>
        <script src="/js/ui-bootstrap-0.12.0.min.js"></script>
        <script src="/js/default.js" /></script>
    </head>
    <body>
        <div class="container">
            <div class="navbar navbar-default" id="topbar">
                <div class="container-fluid">
                    <div class="navbar-inner">
                        <div class="sys-menu" ng-controller="SideShelfPanel as sideShelf">
                            <button class="burger-btn btn btn-default navbar-btn" ng-class="{ open: sideShelf.menuOpen }" ng-click="sideShelf.toggleMenuState()"><i class="fa fa-bars"></i></button>
                            <div class="burger-menu navbar navbar-default" ng-class="{ open: sideShelf.menuOpen }">
                                <div class="navbar-header">
                                    <span class="navbar-brand">{{sideShelf.title}}</span>
                                </div>
                                <div class="navbar-collapse collapse sidebar-navbar-collapse" ng-controller="SideMenu as sideMenu">
                                    <ul class="nav navbar-nav">
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="main-page" ng-controller="PageCtrl as page">
            <h1>{{app.info.title}}</h1>        